<!---Start Exhibit II-G -->


<p>     
<span style='font-size:10.0pt'>
<b><u>Early Termination:</u></b>
</span>
</p>

<p>
<table CELLSPACING=0 BORDER=0 WIDTH=650>
<tr>
	<td WIDTH="30%" VALIGN="TOP">
	<FONT SIZE="2">Mandatory Early Termination:</FONT>
	</td>
	<td WIDTH="70%" VALIGN="TOP">
	<FONT SIZE="2">Applicable</FONT>
	</td>
</tr>
</table>
</p>

<p>     
<span style='font-size:10.0pt'>
<b><u>Settlement Terms:</u></b>
</span>
</p>
<tr>
	<td WIDTH="30%" VALIGN="TOP">
	<FONT SIZE="2">Mandatory Early Termination Date:</FONT>
	</td>
	<td WIDTH="70%" VALIGN="TOP">
	<FONT SIZE="2">|TERMINATION_DATE|</FONT>
	</td>
</tr>
<tr>
	<td WIDTH="30%" VALIGN="TOP">
	<FONT SIZE="2">Business Day Convention for Mandatory Early Termination Date:</FONT>
	</td>
	<td WIDTH="70%" VALIGN="TOP">
	<FONT SIZE="2">|TERMINATION_DATE_ROLL|</FONT>
	</td>
</tr>
<tr>
	<td WIDTH="30%" VALIGN="TOP">
	<FONT SIZE="2">Cash Settlement Valuation Date:</FONT>
	</td>
	<td WIDTH="70%" VALIGN="TOP">
	<FONT SIZE="2">|TERMINATION_NOTIFICATION|</FONT>
	</td>
</tr>
<tr>
	<td WIDTH="30%" VALIGN="TOP">
	<FONT SIZE="2">Cash Settlement Method:</FONT>
	</td>
	<td WIDTH="70%" VALIGN="TOP">
	<FONT SIZE="2">Cash Price</FONT>
	</td>
</tr>
<tr>
	<td WIDTH="30%" VALIGN="TOP">
	<FONT SIZE="2">Cash Settlement Currency:</FONT>
	</td>
	<td WIDTH="70%" VALIGN="TOP">
	<FONT SIZE="2">|TRADE_CURRENCY|</FONT>
	</td>
</tr>
<tr>
	<td WIDTH="30%" VALIGN="TOP">
	<FONT SIZE="2">Settlement Rate:</FONT>
	</td>
	<td WIDTH="70%" VALIGN="TOP">
	<FONT SIZE="2">|FLT_RATE_OPTION|</FONT>
	</td>
</tr>
</table>
</p>


<!---End Exhibit II-G -->


