<!-- ############################ -->
<!-- #### Start NDS SETTLE #### -->
<!-- ############################ -->


<p class="header2">Settlement Provisions:</p>

<table>
<tr>
	<td width="30%">Settlement:</td>
	<td>Non-deliverable, with the effect that any Reference Currency amounts payable hereunder on a Payment Date (Reference Currency Payment Date) or an Exchange Date (Reference Currency Exchange Date) shall be converted into Settlement Currency amounts by reference to the Settlement Rate Option on the applicable Valuation Date.  All payments (including exchanges) hereunder shall be made in the Settlement Currency.</td>
</tr>
<tr>
	<td>Settlement Rate Option:</td>
	<td>|CASH_SETTLE_OPTION_STYLE|</td>
</tr>
<tr>
	<td>Reference Currency:</td>
	<td>|TRADE_CURRENCY|</td>
</tr>
<tr>
	<td>Settlement Currency:</td>
	<td>|SETTLE_CCY|</td>
</tr>
<tr>
	<td>Valuation Date:</td>
	<td>In respect of a Reference Currency Payment Date or a Reference Currency Exchange Date, the date which is two Business Days prior to that Reference Currency Payment Date or Reference Currency Exchange Date, provided that if a day that, but for the occurrence on that day of an Unscheduled Holiday would have been a Valuation Date (a Scheduled Valuation Date), is as a result of such occurrence not a Business Day, the Valuation Date in question shall be the next following Business Day to such Scheduled Valuation Date on which an Unscheduled Holiday does not occur, provided that if the Valuation Date has not occurred on or before the fourteenth consecutive day after the relevant Scheduled Valuation Date (any such period being the Deferral Period), then the next day after the Deferral Period that would have been a Business Day but for the Unscheduled Holiday, shall be deemed to be the relevant Valuation Date.</td>
</tr>
</table>





<!-- ########################## -->
<!-- #### End NDS SETTLE #### -->
<!-- ########################## -->


